html {
    font-family: 'Josefin Sans';
    height: 100%;
}

body {
    background-color: #2D3E50;
    color: #FFF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: 20px;
    background-color: #d9534f;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}

a {
    color: white;
}

button {
    width: 100px;
    height: 50px;
    font-family: 'Josefin Sans';
    background-color: #d9534f;
    color: white;
    border: none;
    margin-top: 20px;
}

.imgWrapper {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: .2s;
    background-color: #d9534f;
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 30%;
    font-size: 35px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    margin: 5% 30%;
    font-size: 35px;
}

.resultsImgContainer {
    height: 250px;
    display: grid;
    grid: "youPlayed computerPlayed"
          "playerChoiceImg computerChoiceImg";
    grid-template-columns: 200px 200px;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
}

.content {
    flex: 1 0 auto;
}

.insertedPicture {
    background-color: #d9534f;
    border-radius: 50%;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 200px 30px 200px;
}

.button:hover {
    cursor: pointer;
}

.imgWrapper:hover {
    box-shadow: 0 0 10px 10px #FFF;
    transition: .2s;
}

#youPlayed {
    text-align: center;
    grid-area: youPlayed;
}

#computerPlayed {
    text-align: center;
    grid-area: computerPlayed;
}

#playerChoiceImg {
    grid-area: playerChoiceImg;
}

#computerChoiceImg {
    grid-area: computerChoiceImg;
}