#canvas {
    display: grid;
    width: 750px;
    height: 750px;
    margin: auto;
    border: 3px solid black;
}

#displayColor {
    width: 200px;
    height: 200px;
    border: 2px solid orange;
}